details {
    background: pink;
    width: 200px;
    margin: 20px;
}

summary {
    cursor: pointer;
    font-size: 18px;
    background: #333;
    color: white;
    border: 6px;
    list-style: none;
}

header {
    background: green;
    height: 250px;
}

ol {
    list-style: none;
    padding: 10px;
    margin: 0px;
    border-radius: 6px;
}

body {
    background: black;
    display: flex;
    justify-content: center;
}

.content {
    background: white;
    width: 1200px;
    min-height: 100vh;
    padding: 20px;
    
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-right: 10px;
}
img {
    width: 150px;
    height: auto;
}

footer {
    background: blueviolet;
}
.cpc {
    display: flex;
    justify-content: center;
}