header {
    background: green;
    display: flex;
    height: 250px;
}
body {
    background: black;
    display: flex;
    justify-content: center;
}
.content {
    background: white;
    width: 1200px;
    min-height: 100vh;
    padding: 20px;
    
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-right: 10px;
}
img {
    width: 150px;
    height: auto;
}

footer {
    background: blueviolet;
}
.cpc {
    display: flex;
    justify-content: center;
}